{
  "parser": "babel-eslint",
  "plugins": ["react", "react-hooks", "prettier"],
  "extends": [
    "react-app",
    "prettier/react",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "space-before-function-paren": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
